<section class="dg-db-snapshot">
	<h3 class="dg-db-snapshot__title">
		<i class="fas fa-chart-simple" aria-hidden="true"></i>
		Compteurs en base
	</h3>
	<div class="dg-db-snapshot__scroll">
		<table>
			<thead>
				<tr>
					<th scope="col">Cave</th>
					<th scope="col">Exploitants</th>
					<th scope="col">Prestataires</th>
					<th scope="col">Parcelles</th>
					<th scope="col">Productions</th>
					<th scope="col">Prélèvements</th>
					<th scope="col">Events</th>
					<th scope="col">Convocations</th>
					<th scope="col">Inscriptions</th>
					<th scope="col">Apports</th>
					<th scope="col">Notifications</th>
					<th scope="col">Email</th>
					<th scope="col">SMS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ cave.name }}</td>
					<td>{{ counters.exploitants }}</td>
					<td>{{ counters.prestataires }}</td>
					<td>{{ counters.parcelles }}</td>
					<td>{{ counters.productions }}</td>
					<td>{{ counters.prelevements }}</td>
					<td>{{ counters.events }}</td>
					<td>{{ counters.convocations }}</td>
					<td>{{ counters.inscriptions }}</td>
					<td>{{ counters.apports }}</td>
					<td>{{ counters.notifications }}</td>
					<td>{{ counters.emailMessages }}</td>
					<td>{{ counters.smsMessages }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
