<section class="dg-db-snapshot w-fit">
	<h3 class="dg-db-snapshot__title">
		<i class="fas fa-chart-simple" aria-hidden="true"></i>
		Etat de la base de données au
		{{ "now"|date("d/m/Y H:i") }}
	</h3>
	<div class="dg-db-snapshot__scroll">
		<table>
			<thead>
				<tr>
					<th class="px-3" scope="col">Cave</th>
					<th class="px-3" scope="col">Exploitants</th>
					<th class="px-3" scope="col">Prestataires</th>
					<th class="px-3" scope="col">Parcelles</th>
					<th class="px-3" scope="col">Productions</th>
					<th class="px-3" scope="col">Prélèvements</th>
					<th class="px-3" scope="col">Events</th>
					<th class="px-3" scope="col">Convocations</th>
					<th class="px-3" scope="col">Inscriptions</th>
					<th class="px-3" scope="col">Apports</th>
					<th class="px-3" scope="col">Notifications</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="px-2">{{ cave.name }}</td>
					<td class="px-2">{{ counters.exploitants }}</td>
					<td class="px-2">{{ counters.prestataires }}</td>
					<td class="px-2">{{ counters.parcelles }}</td>
					<td class="px-2">{{ counters.productions }}</td>
					<td class="px-2">{{ counters.prelevements }}</td>
					<td class="px-2">{{ counters.events }}</td>
					<td class="px-2">{{ counters.convocations }}</td>
					<td class="px-2">{{ counters.inscriptions }}</td>
					<td class="px-2">{{ counters.apports }}</td>
					<td class="px-2">{{ counters.notifications }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
