{% extends '@DataGenerator/layout_plugin.html.twig' %}

{% block page_back_url %}
	{{ path('data_generator_index') }}
{% endblock %}

{% block page_back_label %}
	Retour à la génération de données
{% endblock %}

{% block page_title %}
	Création de notifications
{% endblock %}

{% block page_description %}
	Création de notifications pour les utilisateurs du cave.
{% endblock %}

{% block main %}
	<section class="dg-panel">
		{{ form_start(form, { attr: { 'data-turbo': 'false' } }) }}
		{{ form_row(form.user) }}
		{{ form_row(form.number) }}

		<button type="submit" class="btn btn-primary dg-submit">
			<i class="fas fa-paper-plane"></i>
			Envoyer les notifications
		</button>

		{{ form_end(form) }}
	</section>
{% endblock %}
